@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.air-quality {
  background: #8B4513; /* Saddle Brown */
}

.airheading {
  background: #5D4037; /* Dark brown shade */
  font-size: 1.75rem;
  text-align: center;
  padding: 18px 0;
  color: #fff;
}

#main-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 30px;
  align-items: center;
}

.air-quality-input {
  width: 550px;
}

.air-quality-input input {
  height: 46px;
  width: 100%;
  outline: none;
  font-size: 1.07rem;
  padding: 0 17px;
  margin: 10px 0 20px 0;
  border-radius: 4px;
  border: 1px solid #8B4513; /* Saddle Brown */
}

.air-quality-input input:focus {
  padding: 0 16px;
  border: 2px solid #5D4037; /* Dark brown shade */
}

.air-quality-input .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #8B4513; /* Saddle Brown */
  display: flex;
  align-items: center;
  justify-content: center;
}

.air-quality-input .separator::before {
  content: "or";
  color: #6C757D;
  font-size: 1.18rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #D7CCC8; /* Brown shade */
}

.air-quality-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  background: #5D4037; /* Dark brown shade */
  transition: 0.2s ease;
}

.air-quality-input button:hover {
  background: #4E342E; /* Dark brown shade */
}

.air-quality-input .location-btn {
  background: #6C757D;
}

.air-quality-input .location-btn:hover {
  background: #327ac2;
}

.air-quality-data {
  width: 100%;
}

.current-air-quality {
  color: #fff;
  background: #5D4037; /* Dark brown shade */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.current-air-quality h2 {
  font-weight: 700;
  font-size: 1.7rem;
}

.details,
.air-quality-status {
  margin-bottom: 15px;
}

.details h6,
.air-quality-status p {
  font-size: 1rem;
}

.days-air-quality-forecast {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.days-air-quality-forecast h2 {
  margin: 20px 0;
  font-size: 1.5rem;
}

.air-quality-cards {
  display: flex;
  gap: 20px;
}

.card {
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #c06114; /* Dark brown shade */
  border-radius: 5px;
}

.card h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
